<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Marker</title>
</head>
<body>
<ul>
{% for k,v in marker.items() %}
    {% if k == 'values' %}
        <li> <strong>values:</strong>
            <table border="1">
            <tr>
            {% for v in values %}
                <th>{{ v[0] }}</th>
            {% endfor %}
            </tr>
            <tr>
            {% for v in values %}
                <td>{{ v[1] }}</td>
            {% endfor %}
            </tr>
            </table>
        </li>
    {% else %}
        <li><strong>{{ k }}</strong>: {{ v }}</li>
    {% endif %}
{% endfor %}
</ul>

</body>
</html>